name: Run Preprocess

on:
  push:
    paths:
      - 'src/preprocess.py'
      - 'data/raw/*_program.csv'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install pandas

      - name: Run preprocess.py
        run: python src/preprocess.py

      - name: Upload features CSV
        uses: actions/upload-artifact@v3
        with:
          name: features-csv
          path: data/processed/*_features.csv
